/*body styles*/


/* open-sans-regular - latin */
@font-face {
  font-display: fallback;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/open-sans-v35-latin-regular.woff2') format('woff2');
}
/* open-sans-italic - latin */
@font-face {
  font-display: fallback;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../src/fonts/open-sans-v35-latin-italic.woff2') format('woff2'); 
}
/* open-sans-700 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../src/fonts/open-sans-v35-latin-700.woff2') format('woff2'); 
}

/* bitter-300 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 300;
  src: url('../src/fonts/bitter-v32-latin-300.woff2') format('woff2');
}
/* bitter-500 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 500;
  src: url('../src/fonts/bitter-v32-latin-500.woff2') format('woff2');
}
/* bitter-700 - latin */
@font-face {
  font-display: fallback;
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 700;
  src: url('../src/fonts/bitter-v32-latin-700.woff2') format('woff2'); 
}


:root {
  --red: #d72626;
  --navy: #002B5B;
}


html{
	scroll-behavior: smooth;
}

body{
  background:#eff4f6;
  padding:0;
  max-width: 1100px;
  margin:auto;
  font-family: Open Sans, sans-serif;
}

h1,h2,h3,h4,h5,h6,.likeh1{
  font-family: Bitter, sans-serif;
  font-weight: 700;
  line-height:1.1;
  color:#002B5B;
  cursor:default;
}
h1,.likeh1{
  font-size:40px;
  font-weight:400;
  margin-top:10px;
}
h2{
  font-size:30px;
  font-weight:400;
  margin-top:10px;
}
h2::after{
  content: "";
  height:4px; 
  width: 140px;
  background:#002B5B;
  display: block; 
  margin-top: 20px;
  border-radius:2px;
}
.smallh1{
  font-size:16px;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
  color:#000;
}
section{
  max-width:100%;
  padding:20px; 
  margin:80px 0;
}
ul,ol{
  margin:16px 0;
}
p,li{
  font-size:18px;
  line-height:1.6em;
  cursor:default;
}
a{
  cursor:pointer;
}
li{
  margin-bottom:10px;
}
img{
  max-width:100%;
}
/*end body styles*/
.container{
  margin:20px;
  max-width: 800px;
}
.cta{
  font-size:22px;
  font-weight:700;
  color:var(--red);
}
.text-center{
  text-align:center;
}
.link{
  color:var(--red);
  text-decoration: underline;
  text-decoration-thickness:0.15em;
  text-underline-offset:0.15em; 
  font-weight: bold;
  letter-spacing:0.05em;
  padding: 1px;
  transition: all 0.2s ease-out;
}
.link:hover{
  text-underline-offset:0.25em; 
}
.row{
  display:flex;
  justify-content:space-between;
  flex-wrap: wrap;
  align-items:stretch;
}
.row > *{
  flex: 1 1 0;
  min-width: 300px;
}

/* Services Section */

.services .container{
  margin:0 20px;
}

.services .row{
  background: antiquewhite;
  padding-left:10px;
  padding-right:10px;
}

.services .row.first{
  border-radius:15px 15px 0 0;
  padding-top:10px;
	
}
.services>.row.last{
  border-radius: 0 0 15px 15px;
  padding-bottom: 10px;
}

.callout-card{
  background:#fff;
  /*background:#E4DCCF;*/
  border-radius: 15px;
  min-height:200px;
  color:#222;
  flex: 1 1 0;
  width: 0;
  margin: 10px;
  position: relative;
  overflow: hidden;
  transition: all 0.2s ease-out;
  cursor:default;
}
.card-inner{
  padding:10px 20px 20px;
}
.card-inner .link{
  display:none; 
}
.callout-card:hover{
  transform: translateY(-5px);
}

/* hero-section */

section.hero{
  min-height: calc(60vh);
  margin: 0 20px;
  padding: 20px;
  border-radius: 15px;
  background-image:url(src/images/hero.webp);
  background-size:cover;
  background-position: center center;
  display:flex;
  align-items:end;
  padding-bottom:40px;
  padding-top: 80px;
}
section.hero .likeh1{
  font-weight:800;
  margin-bottom:20px;
}
section.hero h2:after{
  display: none;
}
section.hero h1 i{
  text-decoration:underline;
}
section.hero div{
  max-width:600px;
}
/* Intro Section*/
.intro img{
  width:calc(100% - 20px);
  height:100%;
  object-fit:cover;
  margin-left:20px;
}

/* Nav */
nav{
  font-family: Bitter, sans-serif;
}

nav ul{
  list-style-type: none;
  text-align:right;
}

nav li {
  display: inline;
  margin: 20px; 
}

nav li a{
  text-decoration: none;
  color: #002B5B;
}

nav .logo{
  float:left;
}

/* Certification Section */
section.certification{
  color: #fff;
  background: #002B5B;
  border-radius:15px;
  padding: 40px 20px 20px;
  margin: 20px;
  display: flex;
  flex-direction:column;
  display:none!important;
}
section.certification .cert-list{
  margin: 10px;
display: grid;
    grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
section.certification .academy-badge{
  border-radius: 15px;
}
section.certification h2{
  color: #fff;
}
section.certification h2:after{
  display:none;
}
/* Testimonial Section */
.testimonial {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction:row;
  padding: 20px;
  margin:0 20px;
  border-radius: 15px;
  padding: 30px 20px;
  background: linear-gradient(335deg, rgb(247 192 163 / 55%) 10%, rgb(206 216 224) 100%);


}

.testimonial .client{
  display:flex;
  text-align:center;
  align-items: center;
  flex-direction:column;
}

.client-img {
  aspect-ratio: 1 / 1;
  object-fit:cover;
  border-radius: 50%;
  width: 100px;
  margin-bottom:10px
}

.client-name {
  font-size: 18px;
  font-weight: bold;
  color:#002B5B;
}

.client-title {
    font-size: 14px;
    color: #222;
    margin-bottom: 10px;
}

.client-quote {
    font-size: 20px;
    color: #222;
    min-width:80%;
  max-width: 400px;
    font-style: italic;
    text-align:center;
}

/* Footer */
footer{
  background: #002B5B;
  color:#fff;
  padding: 50px;
  border-radius: 15px; 
  margin: 20px;    
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* highlights */
.highlights{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 50px;
  line-height: 0.8; 
  text-align:center; 
  font-weight:300;
  font-family: Bitter, sans-serif;
  color:#002B5B;
  margin-top: 0px;
  padding: 0 20px 20px;
}
.highlight-item{
  flex-grow:1;
  margin: 40px 20px;
  transition: all 0.4s;
  min-width:200px;
}

.highlights .underline{
  font-size: 20px;
  font-family: Open Sans, sans-serif;
  font-weight:bold;
  font-style:italic; 
  line-height:2;
  
}

/* Contact Form Section */

section.contact-form{
  display:flex;
  justify-content: space-between;
  margin: 60px 0;
}

.hs-form{
  width:50%;
  max-width:600px;
  background:#fff;
  border-radius:15px;
  padding: 20px 20px 0;
}

/* About Me Section */

section.about-me{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom:15px;
}

.about-me-text{
  flex: 1 1 0;
}

.profil-img{
  aspect-ratio: 1 / 1;
  border-radius: 100%; 
  max-width: 220px;
  float:left;
  margin: 0 30px 30px 0;
}



@media only screen and (max-width: 660px) {
  .section{
    margin: 
  }
}

